# Python version: 3.11

fastapi
uvicorn[standard]
pydantic
requests
beautifulsoup4
git+https://github.com/cinemagoer/cinemagoer#egg=cinemagoer
cloudscraper
beanie
motor
pymongo[srv]
dnspython
jinja2
python-dateutil
bencodepy
pydantic-settings
pycryptodome
seedrcc
git+https://github.com/mhdzumair/parse-torrent-title#egg=parse-torrent-title
playwright==1.38.0
playwright-stealth
pillow
httpx
